version: '2.3'
services:
  wallet:
    build:
      context: .
    image: xpchaind
    ports:
      - 8798:8798
      ## Uncomment to open testnet port.
      # - 18798:18798
      ## Uncommnet to open mainnet RPC port. MAKE SURE WHAT WILL HAPPENS.
      # - 8762:8762
      ## Uncommnet to open testnet RPC port. MAKE SURE WHAT WILL HAPPENS.
      # - 18762:18762
    volumes:
      - wallet-data:/home/wallet/.xpchain
volumes:
  wallet-data:
    ## Uncomment below to mount host's directory into container
    # driver_opts:
    #   type: none
    #   device: /path/to/wallet-data
    #   o: bind
